.main-header {
	border-bottom: 1px solid $color-2;
	padding: 20px;
	position: absolute;
	background-color: $color-2;
	left: 0;
	right: 0;

}

.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	&-item {
		text-transform: uppercase;
		padding: 0 20px;
		font-size: 16px;
	}
	a {
		color: $color-black;
		&.is-active {
			color: $color-1;
		}
	}
	
}