@font-face {
    font-family: 'Brush';
    src: url('fonts/brush.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');