html,
button,
a,
input,
select,
textarea {
	font-family: $font-base;
}

body {
	margin: 0;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color-base;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
    -ms-scroll-limit-x-max: 100%;
    -ms-scroll-limit-x-min: 0;
}


.container {
	min-width: 1024px;
	max-width: 1920px;
	margin: 0 auto;
	&-md {
		min-width: auto;
		@media screen and (min-width: 1191px) {
			min-width: 1024px;
		}		
	}
}
.row {
	display: flex;
}

.column-4 {

}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a {
	text-decoration: none;
	
	img {
		border: 0;
	}
}

* {
	box-sizing: border-box;
}