.row {
    display: flex;
    flex-wrap: wrap;
}

[class^='column-'] {
    min-height: 1px;
    width: 100%;
    padding: 0 10px;
}

.column-1 {
    @include make-columns(1)
}
.column-2 {
    @include make-columns(2)
}
.column-3 {
    @include make-columns(3)
}
.column-4 {
    @include make-columns(4)
}
.column-5 {
    @include make-columns(5)
}
.column-6 {
    @include make-columns(6)
}
.column-7 {
    @include make-columns(7)
}
.column-8 {
    @include make-columns(8)
}
.column-9 {
    @include make-columns(9)
}
.column-10 {
    @include make-columns(10)
}
.column-11 {
    @include make-columns(11)
}
.column-12 {
    @include make-columns(12)
}