h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-size: 26px;
	line-height: 28px;
	margin-bottom: 50px;
}

h2 {
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 10px;	
}

h3 {
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 5px;
}