/* TYPOGRAPHY, FONTS */
$font-base: 'Open Sans', sans-serif;
$font-size-base: 10px;
$line-height-base: 12px;
$text-color-base: #666666;

/* COLORS */
$color-white: #fff;
$color-black: #000;
$color-1: #e4042b;
$color-2: #dddddd;
