.tile {
	background-color: $color-white;
	position: relative;
	z-index: 2;
	height: 100%;
	border: 1px solid $color-2;
	padding: 10px 30px;
	&-info {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		text-transform: uppercase;
		margin-bottom: 12px;
	}
	figure {
		margin: 0;
		padding: 2px;
		box-shadow: -2px 2px 4px 0px $color-2;
	}
	.text-middle {
		font-family: 'Brush', sans-serif;
		color: $color-1;
		font-size: 35px;

	}
	.text-colored {
		color: $color-1;
	}
}
.row-wide {
	div[class^="column"] {
		margin-top: 20px;
	}
}