.list-content {
	padding: 70px 15px;
	font-size: 20px;
	line-height: 22px;

	.content-wrapper {
		border: 1px solid $color-black;
		border-radius: 10px;
		margin: 0 auto;
		padding: 30px;
		@media screen and( min-width: 768px) {
			width: 720px;
		}
	}
}

.content-list {
	list-style: none;
	margin: 0;
	padding: 0;
	&-item {
		border-bottom: 1px solid $color-1;
		color: $color-black;
		&:last-child {
			border-width: 0;
		}
	}
	span {
		color: $text-color-base;
	}
}