.pool-ladder {
	padding: 70px 0 60px;
	background-color: black;
	text-align: center;
	background: linear-gradient(45deg, #2f0f15 10%,#111111 20%,#101a1d 70%, #0f272f 80%);
	.page-title {
		color: $color-white;
	}
	.row {
		position: relative;
		justify-content: center;
		&-line-wrapper {
			justify-content: space-around;
			align-items: stretch;
			position: absolute;
			top: 50px;
			height: 100%;
			left: 0;
			right: 0;
			div[class^="column"] {
				border: 1px solid $color-1;
				border-top-width: 0;
				z-index: 1;
			}
		}
	}
	div[class^="column"] {
		margin-top: 20px;
	}
	.column-title {
		color: $color-1;
		text-transform: uppercase;
		font-weight: 700;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}
}

	.middle-wrapper {
		position: relative;
	}
.bottom-wrapper {
	position: relative;
	div[class^="column"] {
		margin: 50px 0;
	}
	.row {
		&-line-wrapper {
			top: -50px;
			bottom: -50px;
			height: auto;
		}
	}
	&-1 {
		.row {
			padding-top: 50px;
		}
	}
	&-2 {
		position: relative;
		div[class^="column"] {
			margin: 0;
		}	
		.row:first-child {
			padding-top: 50px;
			&:after {
				content: '';
				display: block;
				width: 1px;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				background-color: $color-1;
				z-index: 1;
			}				
		}
		.column-title {
			padding-top: 30px;
		}		
	}
}