.slider {
	padding: 70px 0;
	overflow-x: hidden;
	max-width: 100%;
	margin: 0 auto;
	 @media screen and (min-width: 481px) {
		padding: 70px 15px;
		overflow-x: auto;
	}

	.item-wrapper {
		display: flex;
		align-items: center;
		
		@media screen and (min-width: 481px) {
			margin: 0 -15px;
			flex-wrap: wrap;
		}
		&.is-transitioning {
			transition: transform 200ms cubic-bezier(1, 1.59, .61, .74);
		}
		&.slider-on {
			--n: 1;
			width: 100%;
			width: calc(var(--n)*100%);
			transform: translate(calc(var(--i, 0)/var(--n)*-100%));
			.item {
				width: 100%;
				width: calc(100%/(var(--n)));				
			}
		}
	}
	.item {
		width: 50%;
		//min-width: 100%;
		pointer-events: none;
		padding: 0 15px;
		@media screen and (min-width: 481px) {
			margin-bottom: 20px;
		}
		@media screen and (min-width: 991px) {
			width: 25%;
		}
		&-red {
			.item-wrap {
				background-color: $color-1;
			}
			.main-title {
				color: $color-white;
			}
		}
		&-white {
			.item-wrap {
				background-color: $color-white;
			}
			.main-title {
				color: $color-1;
			}
		}
		&-wrap {
			padding: 75px 0 15px 15px;
			border: 1px solid $color-2;
		}
	}
	.main-title {
		font-family: 'Brush', sans-serif;
		font-size: 60px;
		line-height: 60px;	
		position: absolute;
		top: 0;
		right: 0;
		transform: translateY(-50%);
		@media screen and (min-width: 991px) {
		font-size: 98px;
		line-height: 98px;		
		}
	}
	.slide-content {
		background-color: $color-black;
		height: 100%;
		position: relative;
		color: $color-white;
		padding: 60px 0 30px 20px;
	}
	.list-title {
		text-transform: uppercase;
		color: $color-white;
		font-weight: 700;
		font-size: 32px;
		line-height: 34px;
		span {
			color: $color-1;
			font-size: 20px;
			line-height: 22px;
			display: block;
		}
	}
	.list {
		text-transform: uppercase;
		list-style: none;
		margin: 0;
		padding: 0;
		&-item {
			font-size: 15px;
			line-height: 20px;
			border-bottom: 1px solid $color-white;
			&:last-child {
				border-width: 0;
			}
		}
	}

}