<div class="column-3">
	<div class="tile">
		<h3 class="tile-title"><date>Fri, 27 Oct</date></h3>
		<div class="tile-info">
			<span>Aus</span>
			<figure><img src="../img/flag-2.jpg" alt="flag-1"></figure>
			<span class="text-middle">v</span>
			<figure><img src="../img/flag-2.jpg" alt="flag-1"></figure>
			<span class="text-colored">Nz</span>
		</div>
		<span class="tile-text">Melbourne Rectangular Stadium, Melbourne AUS, 8:00PM AEDT</span>
	</div>
</div><!-- column-3 -->