<header class="main-header">

    <nav>
        <ul class="nav-list">
            <li class="nav-list-item"><a class="is-active" href="index.html">task 1</a></li>
            <li class="nav-list-item"><a href="task2.html">task 2</a></li>
            <li class="nav-list-item"><a href="task7.html">task 7</a></li>
        </ul><!-- nav-list -->
    </nav><!-- nav -->

</header><!-- main-header -->