<div class="item item-white">
	<div class="item-wrap">
		<div class="slide-content">
			<h2 class="main-title">Ponts</h2>
			<h3 class="list-title"><span>Most</span>Points</h3>
			<ul class="list">
				<li class="list-item">Aus Cooper Cronk<span>200</span></li>
				<li class="list-item">Ratu J.T. Drodrolagi<span>183</span></li>
				<li class="list-item">Etuate T. Quionimacawa<span>167</span></li>
				<li class="list-item">Ratu J.T. Drodrolagi<span>183</span></li>
				<li class="list-item">Etuate T. Quionimacawa<span>167</span></li>
			</ul>
		</div>
	</div>
</div><!-- item -->